@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.main-page {
  height: 100vh;
  overflow: auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* background-color: red; */
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}
